@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-20%); }
}
.animate-marquee {
  display: flex;
  gap: 2rem; /* Espacio entre los elementos */
  animation: marquee 8s linear infinite;
  min-width: 200%;
}
.marquee-outer {
  overflow: hidden;
  display: flex;
  align-items: center;
}


@keyframes gradient {
  0% { opacity: 0.5; }
  50% { opacity: 0.8; }
  100% { opacity: 0.5; }
}

.animate-gradient {
  animation: gradient 8s ease infinite;
}

.animate-pulse-slow {
  animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animate-pulse-slower {
  animation: pulse 6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}